*Сегодня мы поговорим о новых типах данных: кортежах, множествах и словарях*

##**Кортеж (tuple)**

это неизменяемый список.

Зачем нужны кортежи, если есть списки?

    1. Защита данных. Кортеж защищен от изменений, как намеренных (что плохо), так и случайных (что хорошо).
    2. Меньший размер. Вам нужно меньше памяти, чтобы хранить данные

In [1]:
# сравним размеры в байтах

a = (1, 2, 3, 4, 5, 6) # кортеж
b = [1, 2, 3, 4, 5, 6] # лист/список

print("\nSize of the tuple: ",a.__sizeof__(),"\nsize of the list: ",b.__sizeof__())

Size of the tuple:  72
size of the list:  88

Давайте создадим кортеж: 

    1. С помощью встроенной функции tuple()

In [2]:
a = tuple() 

print(a, "\n",type(a))

()
 <class 'tuple'>

    2. С помощью литерала кортежа ()

In [3]:
b = ()
print(b, "\n",type(b))

()
 <class 'tuple'>

Создаем кортеж из одного элемента:

In [4]:
a = ('banana')
print(a, "\n",type(a))
# проверим его тип

sljbglb ;k
 <class 'str'>


Получилась строка :(  
    
А как получить кортеж?

In [5]:
a = ('banana', ) # все дело в запятой! 

print(a, "\n",type(a))
# проверим тип

('sljbglb ;k',)
 <class 'tuple'>

    3. и еще один способ задать кортеж:

In [6]:
a = 's', # все дело в запятой

print(a, "\n",type(a))

('s',)
 <class 'tuple'>

создать кортеж из итерируемого объекта можно с помощью функции tuple()

In [165]:
# b = list("hello")

my_list = [34,78,"banana"]
# print(my_list)

my_list.append(100)
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)
# my_tuple.sort()
# print(my_tuple)

[34, 78, 'banana', 100]
(34, 78, 'banana', 100)

### Операции с кортежами

кортежам доступны все операции над списками, не изменяющие список: сложение, умножение на число, методы ```index()``` и ```count()```, можно работать с индексами и так далее.

In [167]:
for x in my_tuple:
    if x != None: 
        print (x*3)

102
234
bananabananabanana
300

## **Множество (set)**

это тоже "контейнер" для данных, но в отличие от листа(списка), он содержит уникальные, не повторяющиеся элементы.

Давайте создадим множество:

    1. с помощью функуии set()

In [168]:
print(set([34,78,"banana"]))

print(set("hello there"))

tmp = "hello there"
print(set(tmp.split()))

{'banana', 34, 78}
{'e', 't', 'l', ' ', 'o', 'r', 'h'}
{'there', 'hello'}

Множества удобно использовать для удаления повторяющихся элементов:

In [169]:
fruits = ["apples","peaches","cherries","pears","oranges","persimmons"]
# задали список, сохранили в переменную

fruits.append("peaches")# добавим еще больше персиков

# давайте изменим тип объекта на set с помощью функции set()
fruits = set(fruits) #применили функцию, пересохранили переменную

print(fruits)

{'persimmons', 'cherries', 'oranges', 'pears', 'apples', 'peaches'}

    2. с помощью литерала {}

In [35]:
new_set = {2}  # создали переменную, сложили в нее некоторые объекты
# можем складывать в множество объекты разных типов: числовые, строковые, логические

# давайте проверим, что new_set действительно множество
print(new_set, type(new_set))

{2} <class 'set'>

    NB! обратите внимание, что в отличие от листа, множество нельзя задать пустым литералом

In [170]:
another_set = {} # создали пустое....

# ....множество? Давайте проверим тип созданной переменной 

print(type(another_set))

<class 'dict'>

### Операции со множествами

In [176]:
cars = ["BMW","Toyota","Bentley","Jeep","Jeep"]

cars = set(cars)

#число элементов в множестве (размер множества).
len(cars)

4

In [177]:
# принадлежит ли элемент множеству

print("BMW" in cars)
print("Chevrolet" in cars)

True
False

И операции, изменяющие множество:

In [178]:
#добавляем элемент в множество

cars.add(789)
print(cars)

{'BMW', 'Toyota', 'Bentley', 789, 'Jeep'}

In [192]:
# добавляем множество во множество
french_cars = {"Peugeot", "Citroën", "Renault"}

cars.update(french_cars)
print(cars, len(cars))

{'Citroën', 'Peugeot', 'Renault'} 3

In [180]:
# удаляем элемент из множества. 
cars.remove("Jeep")
print(cars)

{'BMW', 'Citroën', 'Toyota', 'Bentley', 'Renault', 789, 'Peugeot'}

In [ ]:
# KeyError, если такого элемента не существует.
cars.remove()

In [181]:
# Альтернативный вариант

cars.discard("Lamborgini") 
# удаляет элемент, если он находится в множестве.
# Если элемента нет, не возвращает сообщение об ошибке

In [182]:
# удаляет первый элемент

print(cars.pop())

# запустите несколько раз, посмотрите на результат

{'BMW', 'Citroën', 'Toyota', 'Bentley', 'Renault', 789, 'Peugeot'}
BMW

In [184]:
# очищаем множество

cars.clear()
print("\n",cars)

 set()

### Логические операции со множествами

In [185]:
fruits # возьмем наше множество фруктов

{'apples', 'cherries', 'oranges', 'peaches', 'pears', 'persimmons'}

In [186]:
# поиск общих элементов
berries = {"strawberry", "red currant"}

fruits.isdisjoint(berries) # True, если множества  не имеют общих элементов.

True

In [187]:
# сравнение множеств

fruits == berries
 # True если все элементы одного принадлежат второму

False

In [188]:
# является ли подмножеством


berries.issubset(fruits) 

# print(berries <= fruits)

False

In [59]:
# аналогично, но в обратную сторону

# fruits.issuperset(berries) 
# print(berries >= fruits)

True

In [190]:
# объединение нескольких множеств 

print(fruits.union(berries))

#print(fruits | berries)

{'cherries', 'oranges', 'strawberry', 'red currant', 'pears', 'peaches', 'apples', 'persimmons'}

In [193]:
#  пересечение множеств (пустое, если нет общих элементов)

print(fruits.intersection(berries))
# print(fruits & berries)

print(cars.intersection(french_cars))

set()
{'Citroën', 'Peugeot', 'Renault'}

### еще один вид множества - frozenset

    set изменяемый, frozenset - нет

In [197]:
a = set("random")

b = frozenset('random')

print(a == b) # давайте сравним множества

True

In [198]:
a.intersection(b)

{'a', 'd', 'm', 'n', 'o', 'r'}

In [199]:
a.add(1) # изменим первое множество
a.remove("m")
print(a)

{1, 'a', 'o', 'r', 'n', 'd'}

In [ ]:
b.add("m")
# мы не можем добавлять в frozenset

## **Словарь (dict)**

коллекции произвольных объектов, записанные в виде пары *ключ : значение*
(ключи уникальные, значения могут повторяться)

( словари =ассоциативные массивы = хеш-таблицы)


Давайте создадим словарь:

    1. С помощью литерала:

In [79]:
d = {}
print(d, type(d))

{} <class 'dict'>

In [201]:
d_names = {"Jane":["London",80, 164],'Olga': ["Moscow", 35, 172,], "Mike":["Spb", 80, 172]} 


# Jane, Olga - это ключи, London, Moscow - значения
print(d_names)

{'Jane': ['London', 80, 164], 'Olga': ['Moscow', 35, 172], 'Mike': ['Spb', 80, 172]}

    2.  с помощью функции dict()

In [202]:
d = dict(A=67, B=903)
print(d)

{'A': 67, 'B': 903}

    3. с помощью генераторов словарей (почти как генераторы списков)

In [203]:
d = {a: a ** 2 for a in range(7)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [206]:
a = ["Jane", "Oleg","Mia"]
b = [25,27,56]

res = zip(a,b)

print(list(res))

[('Jane', 25), ('Oleg', 27), ('Mia', 56)]

In [207]:
print(next(res))

StopIteration:

4. с помощью метода ```.fromkeys()```

In [209]:
d = dict.fromkeys(['Jane'],["Rio","Fenix"])
d

{'Jane': ['Rio', 'Fenix']}

In [210]:
d = dict.fromkeys(['a', 'b'], 100)
d

{'a': 100, 'b': 100}

А так можно получить ззначение, по ключу:

In [213]:
d = {1: "A", 2: "B", 3: "C"}

d[2] # достаем значение по ключу 2

'B'

In [214]:
d[4] = "D" # добавляем пару, где ключ =4, а значение = D

d # посмотрим на весь словарь

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}

In [218]:
# аналогично добавим новую пару в словарь с именами

d_names["Jack"] = ["Toronto",35,175]

print(d_names["Jack"])

['Toronto', 35, 175]

In [219]:
# перезапишем значение по ключу 

print(d[2])
d[2] = "W"
print(d[2])
print(d)

W
W
{1: 'A', 2: 'W', 3: 'C', 4: 'D'}

**Итог:** 
- присвоение по новому ключу расширяет словарь;
- присвоение по существующему ключу перезаписывает его значение;
- попытка извлечения несуществующего ключа порождает исключение (```KeyError```).

### методы словарей

In [220]:
d = {'Jane': "London", 'Olga': "Moscow","Paul":"Paris","Ivan":"Minsk","Anne":"Copenhagen"}

d

{'Jane': 'London',
 'Olga': 'Moscow',
 'Paul': 'Paris',
 'Ivan': 'Minsk',
 'Anne': 'Copenhagen'}

In [223]:
# так можно посмотреть все значения всех ключей в словаре
print(d.values())

# так можно посмотреть все ключи в словаре
print(d.keys())

dict_values(['London', 'Moscow', 'Paris', 'Minsk', 'Copenhagen'])
dict_keys(['Jane', 'Olga', 'Paul', 'Ivan', 'Anne'])

In [224]:
# значения и ключи можно сохранить в отдельный лист
values = list(d.values())  

keys = list(d.keys())

In [225]:
# длина словаря -- это количество ключей
len(d.keys())

5

In [226]:
# так можно посмотреть пары (ключ, значение)
list(d.items())

[('Jane', 'London'),
 ('Olga', 'Moscow'),
 ('Paul', 'Paris'),
 ('Ivan', 'Minsk'),
 ('Anne', 'Copenhagen')]

In [227]:
# расширение словаря
new_dict = {"Alexander":"Bonn", "Julia":"Madrid"}

d.update(new_dict) # обновляет словарь, добавляя пары (ключ, значение)

In [228]:
print(d.pop("Jane")) # удаляет ключ и возвращает значение

London

In [229]:
d.popitem() # удаляет и возвращает пару (ключ, значение)

('Julia', 'Madrid')

In [160]:
# d["Paul"] #выдает значение по ключу

d.get("Paul")

'Paris'

In [230]:
# а так очищаем словарь
d.clear() 
print(d)

{}

**C кортежами, списками, словарями и множествами можно использовать циклы for и while**