<a href="https://colab.research.google.com/github/nstsj/python_for_CL/blob/master/18Nov2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###SMALL INTRO ON REGEXES

In [0]:
import re
text = "this is me, these are them, and here we are"
print(re.findall(r"th(?:is|ese) (?:is|are) (?:me|you|them)(?=,)", text))
#(?:) is a non-capturing group (will not appear in the result) (?=) is a positive lookahead

['this is me', 'these are them']

In [0]:
pronouns=["me" , "you", "them"]
verbs=["is", "are"]
determinatives=["this", "these"]

print(re.findall("(?:{}) (?:{}) (?:{})(?=,)".format("|".join(determinatives), "|".join(verbs), "|".join(pronouns)), text))
print("a quick demonstration before and after join:")
print(determinatives)
print(" ".join(determinatives))

['this is me', 'these are them']
a quick demonstration before and after join:
['this', 'these']
this these

### PANDAS!

In [0]:
! pip3 list # проверяем список установленных библиотек, вдруг pandas уже есть

In [0]:
! pip3 install pandas # делаем такое если pandas не найден

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
import pandas as pd # теперь импортируем pandas в эту тетрадку

документация для pandas [лежит здесь](https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html)

Основные элементы "табличек в pandas" - это Series и Dataframe

Series - это объект, похожий на одномерный массив (как обычный список в питоне) с элементами и  индексами вдоль каждого элемента из списка. 

DataFrame "собирается" из таких Series

*визуализация "таблички" в pandas* 

<figure class="captioned-images"><div class="attributed-wrap"><img alt="Series vs DataFrame" class="img-responsive" height="383" src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png" width="1000"></div></figure>

Создадим Dataframe:

In [0]:
# шаг 1 создадим словарь

data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

# шаг 2 используем метод pd.DataFrame(), где аргументом подадим созданный словарь
purchases = pd.DataFrame(data) 

purchases # посмотрим на датафрейм

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [0]:
# добавим именной индекс

purchases = pd.DataFrame(data, index=['Jane', 'Robert', 'Lily', 'David'])

purchases

        apples  oranges
Jane         3        0
Robert       2        3
Lily         0        7
David        1        2

In [0]:
# достаем покупку по имени

purchases.loc['Jane']

apples     3
oranges    0
Name: Jane, dtype: int64

In [0]:
purchases['apples'] # достаем покупателей по заголовку колонки

Jane      3
Robert    2
Lily      0
David     1
Name: apples, dtype: int64

добавим новых колонок в датафрейм: (метод .assign)

In [0]:
purchases = purchases.assign(weekday=['Mon',"Wed","Thu","Sat"],daytime=["mor","evn","evn","evn"])
purchases

        apples  oranges weekday daytime
Jane         3        0     Mon     mor
Robert       2        3     Wed     evn
Lily         0        7     Thu     evn
David        1        2     Sat     evn

А строк? Тоже можно: (.append)

In [0]:
# шаг1 создадим новый маленький датафрейм: 
 df1 = pd.DataFrame({'apples': "3",
                     'oranges': '4',
                        'weekday':"Fri",
                       'daytime':"mor"},
                       index=["Alexander"])
 

df1

          apples oranges weekday daytime
Alexander      3       4     Fri     mor

In [0]:
# шаг2 добавим новый df к старому
purchases = purchases.append(df1)

In [0]:
purchases # посмотрим на результат

          apples oranges weekday daytime
Jane           3       0     Mon     mor
Robert         2       3     Wed     evn
Lily           0       7     Thu     evn
David          1       2     Sat     evn
Alexander      3       4     Fri     mor

### что делать, если добавились ненужные строки?

In [0]:
# добавим Монику и Олега, они ничего не купили, потому что пришли в воскресенье вечером, магазин был закрыт

purchases = purchases.append(pd.DataFrame({
    'apples': [0,0],'oranges': [0,0],
    'weekday':["Sun","Sun"],
    'daytime':["evn","evn"]},
     index=["Monica","Oleg"]))

In [0]:
purchases
# теперь у нас есть Моника и Олег, а еще два раза Александр. 
# Мы хотим удалить лишние строки: Монику, Олега и один раз Александра.

          apples oranges weekday daytime
Jane           3       0     Mon     mor
Robert         2       3     Wed     evn
Lily           0       7     Thu     evn
David          1       2     Sat     evn
Alexander      3       4     Fri     mor
Monica         0       0     Sun     evn
Oleg           0       0     Sun     evn

In [0]:
# Удалим строки с покупками Моники и Олега
purchases = purchases.drop(["Monica","Oleg"])

In [0]:
#убираем дупликаты
purchases = purchases.drop_duplicates()

In [0]:
# проверяем, что все хорошо: у нас больше нет ненужных строк и дубликатов
purchases

          apples oranges weekday daytime
Jane           3       0     Mon     mor
Robert         2       3     Wed     evn
Lily           0       7     Thu     evn
David          1       2     Sat     evn
Alexander      3       4     Fri     mor

### индексы
Объект DataFrame имеет 2 индекса: по строкам и по столбцам.

In [0]:
print('indices are:', purchases.index, "\n")
print('columns are:', purchases.columns)

indices are: Index(['Jane', 'Robert', 'Lily', 'David', 'Alexander'], dtype='object')

columns are: Index(['apples', 'oranges', 'weekday', 'daytime'], dtype='object')

In [0]:
# пересечение индексов выдаст конкретную ячейку: ищем сколько яблок купил Роберт

purchases.loc['Robert']['apples']

2

**Доступ к строкам по индексу** можно делать несколькими способами:

```.loc``` - используется для доступа по строке

```.iloc``` - используется для доступа по числовому значению (начиная от 0)

In [0]:
purchases.loc['Jane'] # по названию индекса

apples       3
oranges      0
weekday    Mon
daytime    mor
Name: Jane, dtype: object

In [0]:
purchases.iloc[0] # по номеру строки (у первой строки нулевой индекс)

# что покажет индекс -1 ?

apples       3
oranges      0
weekday    Mon
daytime    mor
Name: Jane, dtype: object

### характеристики датафрейма:

In [0]:
purchases.shape

(5, 4)

In [0]:
purchases.describe

<bound method NDFrame.describe of           apples oranges weekday daytime
Jane           3       0     Mon     mor
Robert         2       3     Wed     evn
Lily           0       7     Thu     evn
David          1       2     Sat     evn
Alexander      3       4     Fri     mor>

In [0]:
purchases.columns.values

array(['apples', 'oranges', 'weekday', 'daytime'], dtype=object)

### Сохранение в файл и чтение из файла

In [0]:
# сохраним в .csv файл

purchases.to_csv('purchases.csv')

In [0]:
# прочитаем файл

df = pd.read_csv('purchases.csv')
df

  Unnamed: 0  apples  oranges weekday daytime
0       Jane       3        0     Mon     mor
1     Robert       2        3     Wed     evn
2       Lily       0        7     Thu     evn
3      David       1        2     Sat     evn
4  Alexander       3        4     Fri     mor

### фильтрация значений

In [0]:
df.columns = ['names','apples','oranges',
                     'weekday','daytime']

In [0]:
df[df["apples"] > 2] #фильтр на значение столбца

       names  apples  oranges weekday daytime
0       Jane       3        0     Mon     mor
4  Alexander       3        4     Fri     mor

In [0]:
newdf = df[df["apples"] > 2]
newdf

       names  apples  oranges weekday daytime
0       Jane       3        0     Mon     mor
4  Alexander       3        4     Fri     mor

In [0]:
df[(df["apples"] > 0) & (df["oranges"] > 0)] 
# & == "and", | == "or" 
# full answer:https://stackoverflow.com/questions/36921951/truth-value-of-a-series-is-ambiguous-use-a-empty-a-bool-a-item-a-any-o

       names  apples  oranges weekday daytime
1     Robert       2        3     Wed     evn
3      David       1        2     Sat     evn
4  Alexander       3        4     Fri     mor

In [0]:
df["fruits"] = df["apples"] + df["oranges"]

In [0]:
df

       names  apples  oranges weekday daytime  fruits
0       Jane       3        0     Mon     mor       3
1     Robert       2        3     Wed     evn       5
2       Lily       0        7     Thu     evn       7
3      David       1        2     Sat     evn       3
4  Alexander       3        4     Fri     mor       7

In [0]:
print("apples:", df["apples"].sum(), "oranges:", df["oranges"].sum())

apples: 9 oranges: 16

In [0]:
df[df["weekday"].str.match(r"(M|W)")]

    names  apples  oranges weekday daytime  fruits
0    Jane       3        0     Mon     mor       3
1  Robert       2        3     Wed     evn       5

In [0]:
newdf = df.loc[0:2, ["apples", "oranges"]]
newdf

   apples  oranges
0       3        0
1       2        3
2       0        7

### ДЗ!!!!

In [0]:
df = pd.read_csv('DZ1811.csv', encoding="utf-8", sep=";")

In [0]:
df

      Column1 listing.city  ... listing.extra_host_languages listing.star_rating
0         0.0    barcelona  ...                       ['en']                45.0
1         1.0    barcelona  ...                       ['en']                50.0
2         2.0    barcelona  ...                       ['en']                45.0
3         3.0    barcelona  ...                       ['it']                45.0
4         4.0    barcelona  ...                           []                45.0
...       ...          ...  ...                          ...                 ...
3934   3930.0         rome  ...                           []                 NaN
3935   3931.0         rome  ...           ['de', 'en', 'fr']                 NaN
3936   3932.0         rome  ...     ['en', 'es', 'fr', 'pt']                 NaN
3937   3933.0         rome  ...                           []                50.0
3938   3934.0         rome  ...     ['de', 'en', 'es', 'fr']                 NaN

[3939 rows x 7 columns]

In [0]:
df.dropna()

      Column1 listing.city  ...    listing.extra_host_languages listing.star_rating
0         0.0    barcelona  ...                          ['en']                45.0
1         1.0    barcelona  ...                          ['en']                50.0
2         2.0    barcelona  ...                          ['en']                45.0
3         3.0    barcelona  ...                          ['it']                45.0
4         4.0    barcelona  ...                              []                45.0
...       ...          ...  ...                             ...                 ...
3912   3908.0         rome  ...                              []                50.0
3913   3909.0         rome  ...  ['en', 'es', 'fr', 'he', 'ar']                50.0
3915   3911.0         rome  ...                    ['en', 'fr']                45.0
3922   3918.0         rome  ...                              []                45.0
3937   3933.0         rome  ...                              []                50.0

[3100 rows x 7 columns]

### HOW TO EXTRACT TEXT FROM COLUMNS?

In [0]:
df["p3_summary_title"] #this is a pandas series

0       Double Private room with breakfast near the beach
1                   ROOM CENTRAL, IDEAL for CITY VISITORS
2                                      room in downtown!!
3                       Little single room to rest in BCN
4          Habitación doble con balcón ideal para parejas
                              ...
3934    Augustus - Elegant 2 Bedroom Apartment in Cent...
3935                  Your Mansion In Rome Villa Sospisio
3936                            Via Giulia by ONEFINESTAY
3937                    Spanish Steps square Lux property
3938    ROME VILLA SWIMMING POOL GARDEN 8KM TO CITY CE...
Name: p3_summary_title, Length: 3939, dtype: object

In [0]:
df["p3_summary_title"].values #this is a numpy array

array(['Double Private room with breakfast near the beach',
       'ROOM CENTRAL, IDEAL for CITY VISITORS', 'room in downtown!!', ...,
       'Via Giulia by ONEFINESTAY', 'Spanish Steps square Lux property',
       'ROME VILLA SWIMMING POOL GARDEN 8KM TO CITY CENTRE'], dtype=object)

In [0]:
list(df["p3_summary_title"].values) #this is a python list

['Double Private room with breakfast near the beach',
 'ROOM CENTRAL, IDEAL for CITY VISITORS',
 'room in downtown!!',
 'Little single room to rest in BCN',
 'Habitación doble con balcón ideal para parejas',
 'Habitación para una persona 日租房',
 'Amazing quiet Double room',
 "Backpacker's Room in SAGRADA FAMILIA",
 'Private room in a perfect location/breakfast free1',
 'Cozy room at the city center',
 'Habitacion privada cerca de playa y metro.',
 'Nice cheap and centric room',
 'Double room gracia IIffzźzss',
 'Rest as at home! Bcn...',
 'Small single Room+WiFi+CENTRE',
 'Soleada Habit. exterior terraza, en el centro BCN',
 'Single bedroom',
 'Double big and sunny "blue" room',
 'cozy and sunny single room',
 "Habitación en L'Eixample Esquerra",
 'Loft barato en centro **wifi i fira',
 'Small room in hearth of Born',
 'Llave particular.En Gran Via Glorias y Torre Agbar',
 'Excelente y céntrica Room/terraza single/doble',
 'Alquiler habitaciòn individual.B',
 'Habitación cerca de Sants Estaciò',
 'A PERFECT ROOM FOR RENT CENTER BCN',
 'MAGNIFICENT DOUBLE ROOM IN SANTS',
 'Pleasant room, Plaza España.',
 'Habitación cerca a Sagrada Familia',
 'Quiet & bright room in lively area',
 'Single room with sunny balcony and desk.',
 'Económico y muy Céntrico',
 'Shared apartment in downtown Barcelona.',
 'Room in the ❤️ of Barcelona',
 'AN ADVENTURE IN BARCELONA 2',
 'Oferta 19€ !!Camp Nou ^_^日借家',
 'Easy going, Simple, Room for One in El Born',
 'Central and beautiful doble room in Eixample',
 '1 Room INDIVIDUAL in Barcelona',
 'BIG ROOM IN THE CENTRE OF BARCELONA',
 'Glorias y Pueblo Nuevo. Con llave particular.',
 'Nice & cozy private double room',
 'Plz REAL (Square)10  /R3. PENTHOUSE',
 'A well-lit bedroom with charm',
 'Barcelona close to Sagrada Familia',
 'Centric Apartment in Barcelona',
 'ROOM with SUNSHINE AND BALCONY',
 'SUNNY ROOM WITH BALCONY',
 'Loft/Estudio',
 'Central Room + Private Bathroom!',
 'Comfort - Double Balcony',
 'Room in amazing flat Born-Centre',
 'Single room for woman in front Sagrada Familia',
 'superb location bcn',
 '1. Downtown Barcelona double room',
 'Single Room+Balcony BCN Center (only 1 guest).',
 'Beautiful room in Universitatcenter',
 'Private Double Room in BCN Centre!!',
 'Comfortable private  bedroom in center of BCN!',
 'Barcelona Beach House 1',
 'Doble room in historic center city',
 'Nice room CITY CENTER',
 'comfortable room beside sants stat.',
 'Single Room near Ramblas, Breakfast',
 'Centric Apartment in Barcelona 2',
 'Comfort - Triple Room',
 'Double room with terrace in attic!',
 'Rooms Monjuic Poble Sec',
 'The best view of Sagrada Familia',
 'sunny, large room in sagrada família',
 'Habitación Privada en Barcelona Sants',
 'AMPLE ROOM FOR 3 AT THE GOTHIC QUARTER WITH A/A',
 'Cozy single/tween room. Private bath.+breakfast.',
 'Lovely room with galery Eixample',
 'Single room Sagrada Familia',
 'Sunny room near the sea, Fort Pienc',
 'DOUBLE ROOM IN GOTHIC NEIGHBORHOOD',
 'Big Room & Perfect Location',
 'Barcelona Beach House 2',
 'Plz REAL (Square)10  /R2. PENTHOUSE',
 'DOUBLE ROOM INDEPENDENT + BALCONY',
 'Very economic double room.',
 '1- An oasis in Barcelona Centre',
 'RAMBLAS [ROOM 4-PAX] in terrace apartment',
 'Sagrada Familia brand new flat',
 'Discover the Old City from Bright & Airy Bedroom in El Born',
 'LOFT-STYLE BEACH FLAT',
 'At the heart of Barcelona. Gracia.',
 'BCN center / private bathroom - king bed',
 'Lovely room in downtown BCN w/private bathroom',
 'Walk everywhere!Brand new apartWIFI',
 'The VERY Center/Private bathroom.',
 'Bedroom + private living + glazed balcony',
 'BEST LOCATION - EL BORN',
 'ROMANTIC Apartment WIFI in center',
 'Modernist flat Downtown Casa Estapé | Barcelona',
 'Penthouse Loft in Heart of Bcn',
 'Double Room in El vaixell de paper',
 'AMAZING & BRIGHT IN EIXAMPLE',
 '18 m2 room amazing flat Born-centre',
 'Room with PRIVATE LIVINGROOM and BATH in center',
 'Room in a sunny terraced penthouse',
 'Centric Double Room, private bath',
 'Quiet Well connected Pl. España',
 'Nice & Cozy Apartment in Gracia',
 'Central space for 3 w/private bathroom',
 'Beautiful room in downtown BCN w/private bathroom',
 '4 PERSON ROOM',
 'AMAZING & BRIGHT IN EIXAMPLE BEIGE',
 'Stunning vintage room with AC (old town)',
 'SUPER CENTRAL DOUBLE ROOM!!',
 'Cool&Centric Apartment',
 'Flat near Sagrada Family and Gracia',
 'Balcony for three, W/ private bathroom',
 'Gorgeous room in central Barcelona',
 'Penthouse Double Room+Balc@♥ of BCN',
 'CENTRIC & TERRACE & NEW apartment in Barcelona',
 'Cozy/elegant in the VERY center.',
 'Huge@Rambla: bright & comfy. Perfect location',
 'BARCELONA GOTICO ,great location',
 'Charming little cottage',
 'Close to Parc Güell and Metro',
 'Central Room + Private Bathroom!',
 'Huge Room cerca Plaza Catalunya w/private bathroom',
 'INCREDIBLE VIEW front Sagrada Familia+PRIV.BALCONY',
 'Habitación grande y luminosa',
 'BCN Center big room with balcony!',
 'BCN center / balcony - ensuite bathroom',
 'NEW!! CENTER.CLEAN.COMFORT. WIFI.',
 'Views Sunny Pl. España Connected',
 'Soak Up the Iberian Sun on Penthouse Terrace',
 'EN-SUITE ROOM with PRIVATE BATHROOM',
 'Renovated & Vintage en Barcelona',
 'White-Airy Attic Apartment with Huge Private Leafy Terrace',
 '⭐Penthouse Suite w/ Private Bathroom and Terrace⭐',
 'Stylish loft in the heart of BCN',
 'Principal B&Bcn - Beautiful room with balcony 9',
 'SAN&SUN, design loft in city center',
 'Past Meets Present in this Stunning Flat near the Beach',
 'APARTAMENT IN BARCELONA CENTRE',
 'LUXURY PENTHOUSE WITH PRIV. TERRACE',
 'Stunning room with en-suite bathroom AC (old town)',
 'Cozy apartment in the centre of Gracia',
 'Charming, central, new. Best value',
 'Preciosa suite con increibles vistas',
 'BARCELONA FIFTEEN twin studio',
 'Modern & Cozy Apartment in Gràcia',
 'Double apartment - Independència ABAPART',
 'PRIVATE SUITE: 2 BEDROOMS, 1 BATHROOM AND TERRACE',
 "Charming place @ Heart of Barcelona's Old City",
 'COZY COMFORTABLE APARTMENT WELLOCATED AND PARKING',
 '3 rooms, 2 bathrooms in the touristic city centre',
 'Beautiful apartment in the center',
 'Cozy Apartment Diagonal',
 'New apartment near Sagrada Familia',
 'Cool & Quaint Loft in Barcelona!',
 'Bohemian Dreams at a Plant-filled Design Loft near the Beach',
 'Amplio loft de diseño vintage cerca de Montjuïc',
 'Amazing views, centric apt w/terrac',
 'Double room -The moods Catedral (great location)',
 'Scenic Mountain Views from Sant Gervasi-Galvany',
 'WIFI Nice apartment 10mn SagFamilia',
 'Quiet & lovely  5" to the beach',
 'Tiny Double Room',
 'Special duplex in Sagrada Familia',
 'New center Penthouse with terrace',
 'Colorful Apartment with Private Leafy Balcony',
 '3 bedrooms, central, bright, Sagrada Familia, AC',
 'Modern apartment near the beach',
 'Design&Centric in Sagrada Familia',
 'Apartamento nuevo junto a Plaça Espanya y la Fira',
 'Standard studio in Paral Lel',
 'Barceloneta Beach & Sight Apartment',
 'Beautiful apartment in the center',
 'Poble Sec, feel like at home!',
 'BARCELONA FIFTEEN LUXURY STUDIO',
 'Cozy Apartment Sagrada Familia',
 'SAGRADA FAMILIA VIEW STUDIO-LOFT',
 'Atic with great views',
 "Gaudí's Mansard (Sag. Familia) WIFI",
 'PLAZA CATALUÑA/LAS RAMBLAS DESIGN AP',
 'Stylish loft II in the heart of BCN',
 'Stylish and quiet next to Plaça Catalunya!',
 'Gracia : Cosy & modern apartment with AC & WIFI !!',
 'FANTASTIC20m2TerraceVIEW-@800m BEACH/BORN/GOTIC',
 'Cozy apartment  perfect situation - metro & WIFI',
 'Penthouse Barcelona, very central',
 'Design&Balcony in Sagrada Familia',
 'Fantastic penthouse in Bcn Center',
 'DESIGN APARTMENT IN BARCELONA',
 'BacRou, design loft near the sea',
 'Modernist&Chic Eixample apartment',
 'Lugaris Beach Business Apartment',
 'Amazing apartment WIFI in center',
 'Romantic apartment',
 'Sunny, central, AC, charming flat with balcony 3',
 'Studio & terrace / magical views',
 'Unique Luxury Designer Apartment',
 'Near the beach, 2-bedroom, 2-bathroom, pool, AC',
 'Studio with Catalan Design Near Sagrada Familia',
 'PENTHOUSE TOP VIEWS BARCELONA APARTMENT',
 'Private Terrace in Poblenou',
 'Rural Chic Inspired Apartment with Terrace',
 'Apartament Barcelona Centre - Flat',
 'Lovely duplex penthouse in the Gracia.',
 'Penthouse with private terrace',
 'Bohemian Flat with Rooftop Terrace near La Pedrera',
 'Apartment-terrace with amazing view HUTB-009273',
 'Bohemian-Inspired Loft by the Beach',
 'Classy&Central Eixample apartment',
 'Modernist apartment, chic and calm',
 'Pool, garden, central, stylish, AC',
 'Nice Apartment in Sagrada Familia',
 'New flat in Center -Paseo de Gracia',
 'Gaudí Views- Suite with View in BCN',
 'Descubre el art nouveau a través de este piso cercano a la Plaza de España',
 'Quiet family apartment in the center',
 'Bcn Turistica Piso  Sagrada Familia',
 'Sophisticated Flat in Trendy Poble Sec',
 'Vintage Concept Flat in Chic Neighbourhood',
 'PenthouseSuite with Private Terrace',
 'Sagrada Oasis • Homecelona Apartments',
 'SUNNY STUDIO WITH  SPA & TERRACE',
 'Beautiful apartment by Pl Catalunya',
 'Stylish apartment B near Plaza cat',
 'Disfruta del sol, las vistas y el descanso en este apartamento con terraza.',
 'Fully equipped studio with kitchenette & bathroom',
 'Redeveloped Historic Apartment with Balcony',
 "Sunny Loft in Barcelona 5' walk to the beach",
 'QUIET GORGEOUS  STUDIO 75 sqm in the  CITY CENTER',
 'NICE PENTHOUSE IN SAGRADA FAMILIA',
 'Redesigned Apartment with Exclusive Rooftop Terrace',
 'Mediterranean-Chic Apartment Steps from the Beach',
 'Cosy 1 bed with terrace',
 'AMAZING PENTHOUSE RAMBLAS! DAILY CLEANING!',
 'Attic with terrace',
 'STUNNING APARTMENT IN GOTHIC',
 'Sagrada Familia Apartment',
 'Near the beach, pool, AC, 2 bedrooms, 2 bathrooms',
 'Elegant Apartment in City Center',
 'Have Breakfast on the Balcony of a Chic City Home',
 'Apartment with terrace in Barcelona',
 'Apartamento único en Poble Sec!',
 'Amazing Apartment Plaza Catalunya',
 'Apartamento urbano, tranquilo y chic cerca del Paseo de Gracia',
 'Central, stylish, garden, pool, AC',
 'Boutique Terrace : Private Terrace, wifi & aircon',
 'Sagrada Familia II',
 'Renovated Modern Apartment with Cathedral Views',
 'Gràcia, Cocoon Apartment',
 '1 Habitación con terraza en Gràcia',
 'Terrace with PARKING!!!',
 'Designer LOFT in the very center',
 'Rustic apartment with terrace BCN',
 'Seduction in the Heart of Eixample, Warm, Cozi, Central.',
 'Plaza España/Montjuich',
 'Incredible Lounge terrace best area',
 'Nice Apartment in  Sagrada Familia',
 'Piso con estilo propio y vistas a la Sagrada Familia',
 'Stunning Apartment W Large Terrace',
 'Apartment next to Montjuïc B',
 '.Designer LOFT in the heart of BCN.',
 'Terrace, Paseo de Gracia!!!!!',
 'Very central design apartment, Bcn',
 'Stylish apartment A in city center',
 'Design apartment in the city center',
 'Exclusive&Classy flat 2 min from Paseo de Gracia',
 'Centric Sunny Top Floor + Terrace',
 'Relaxed, Spacious Loft with Jetted Tub',
 'Deluxe Penthouse with Fantastic Terrace - Sagrada Familia',
 'Walk to Paseo de Gracia from a Bright, Cheery Flat',
 'Design&Cozy infront Sagrada Familia',
 'Spacious Flat Close to Ramblas',
 'Sunny, central, AC, charming flat with balcony 1',
 'Cheerful, Modern Apartment in Sant Antoni',
 'Near the beach, 3-bedroom, 2-bathroom, pool, AC',
 'Luxury suite with private terrace Placa Catalunya',
 'Renovated Vintage High-Rise with Balcony',
 'Private terrace, chic & central. Rambla Catalunya',
 'Central Borne close to the beach and las Ramblas',
 'Find Calm at a Neutral City Sanctuary with Sleek Style',
 'Great location for 8 people - M42',
 'Charming & Sunny with Terrace steps to Old town.',
 'Relax in a Chic, Modern Apartment near Park Güell',
 'Very spacious, elegant, central, Rambla Catalunya',
 'Sunny Mediterranean Apartment with Balcony in Poble Sec',
 'Downtown 15min.walking Pl.Catalunya',
 '⭐Bright apt at Rambla de Catalunya⭐¦',
 'AWESOME PENTHOUSE ❤ GREAT VIEW',
 'Chic Apt. 2min from Paseo de Gracia & Las Ramblas',
 'Central cozy apartment 3B/ROOM BCN',
 'Exclusive terrasse, central BCN',
 'Barcelona·COLON·SEA·RAMBLAS views',
 'Bohemian duplex penthouse in Barcelona',
 'Luxury apartment near to Plaza cat.',
 'AMAZING 2 BED. WITH PRIVATE TERRACE',
 'Charming & very cosy Atico w/Wifi',
 'The Little Old Palace in the Borne',
 'NICE DUPLEX OVERLOOKING THE BEACH',
 'Picasso Terrace by Cocoon Barcelona',
 'Penthouse with sunny terrace, 3 p',
 'Stroll to Sagrada Familia from a Sunlit Apartment',
 'Cozy Apartment near to Plaza España',
 '★ GAUDI LUXURY by Cocoon Barcelona',
 'Magnificent 1 bedroom apt',
 'Walk to Paseo de Gracia from a Stylish&Sunny flat',
 'Paseo de Gracia, best location *Bcn*',
 'Quiet & Family, sea views near Ramblas',
 'Luxury. 10th floor. Paseo de Gracia',
 'Near the beach, pool,  AC, 3 bedrooms, 2 bathrooms',
 'Stylish Apartment near the Sagrada Familia',
 'Luxury apartment in Sagrada Familia',
 'Elegant, Contemporary Oasis in the Heart of Barcelona',
 'Bright&Modernist in the city center.',
 'Chic&Calm in Modernist Center',
 'Stylish, bright, central, close to Sagrada Familia',
 'Explore Sant Antoni from a Modern Penthouse',
 'Comfortable, rooftop terrace, spacious, central',
 'Relax on the Deck of a Bright Eixample Apartment',
 'Central, comfortable for groups',
 'Rambla Catalunya big penthouse',
 'Modern bright apartment, with huge terrace !',
 'Sagrada Familia I',
 'NEW DUPLEX PENTHOUSE LAS RAMBLAS',
 'PENTHOUSE PANORAMIC VIEW',
 'Amazing Loft in BCN Center (B0132)',
 'Arc de Triomf cheerful two bedroom with terrace',
 'yök Casa A, 4 people live like a local!',
 'Chic terrace, sunny, central, AC, charming flat',
 'Penthouse with Terrace near Paseo de Gracia',
 'Aribau Apartment Top renovated',
 'MIRADOR 3 Bedroom Apartment Port Vell',
 '3 BEDROOMS WIFI CENTRIC APTM',
 'APARTMENT WITH GARDEN &PRIVATE POOL',
 'Central with pool 8 people - M41',
 'New Boutique apartment in center',
 'Fantastic and Best City Center Location',
 'Barcelona central modernist architecture +terrace',
 'Bright, Renovated Apartment near Sagrada Familia Cathedral',
 'Great Design apartment in Barcelona center',
 '3 bedr and Magnificent Terrace near Plz Catalunya',
 'Stylish, 2 bedrooms, central, shared terrace, AC',
 'Brand new luxury apartment in the city center',
 'Estética clásica y piezas de diseño en un céntrico piso barcelonés',
 'BARCELONA CITY CENTRE CHARM',
 'Chic, very central, bright. Rambla Catalunya, AC',
 'Exclusive flat for an excellent stay next Gaudi',
 'Apartment in Born - Carders',
 'Central Plaza 2r+2b',
 'Penthouse with terrace in Rambla Catalunya -Centre',
 "Art House Viladomat—A Bright Apartment that's a Visual Feast",
 'Oriental Design apartment',
 'Barcelona Feeling Suite44 2bd Swimming Pool Center',
 'Bright, fun, balcony, near the Sagrada Familia',
 'Sunny, central, AC, charming flat with balcony 2',
 'Central, terrace, 3 bedrooms -M51',
 'Central, comfortable - Ramblas 31',
 'CITY CENTRE APOLO LOFT  4 BEDROOMS, near Ramblas',
 'GREAT APARTMENT IN THE EIXAMPLE',
 'Attic in Paseo de Gracia',
 'Near the beach, 2 bedrooms, 2 bathrooms, pool, AC',
 'Spectacular penthouse in the center',
 'Stroll to Passeig de Gràcia from Uniquely Designed Flat',
 'Stylish, spacious, central, shared rooftop terrace',
 'Vintage-Inspired Apartment near Passeig de Gracia',
 'PENTHOUSE IN VILLA-OLIMPICA',
 'MODERNISM&LUXURY&DESIGN IN CENTER',
 'Stylish and comfortable apartment in heart of BCN',
 'Large Luxurious Central Apartment',
 'yök Casa B, luxury local eco design',
 'Elegant, bright, 3 bedrooms, Sagrada Familia, AC',
 'AVINYO B APARTMENT',
 'Central Flat near Sagrada Família and Metro',
 'The Paseo Colon Apartment',
 'Casa Valeta, Barcelona',
 'Ramblas 3 bedrooms Attic Pz.Reial Gothic',
 'TETUAN Apartment Very central 3 bed/3 bath Terraza',
 'Charming Duplex in Glories HUTB007821',
 'Central Apartment in Traditional Catalan Building',
 'Cozy apartment up to 6 guests',
 'Alójate en una casa típica del barrio de Gràcia con un amplio patio interior',
 "Amazing views & sunny, 5' Ramblas/Sea",
 'Charming Aptment Center 2bed+2bath',
 'MONTJUIC FOUNTAINS II APARTMENT',
 'Sea and city views downtown',
 'Lovely & Elegant Apartment in Eixample 1-2',
 'Elegant Apartment Overlooking the Iconic Paseo de Gracia',
 '2 bedrooms, 2 baths, private terrace, central, AC',
 '1 bedroom private rooftop terrace with Free Wi-Fi',
 'Amazing loft in Grácia close to Sagrada Familia',
 '2 Luxury bedroom apartment',
 'Nice and quiet 2 bedroom apartment',
 'Cobi apartment. Disfruta de Barcelona desde este fantástico apartamento.',
 'UNIQUE Stylish Townhouse BCN Centre',
 'SUMMERTIME BCN a oasis in Gracia',
 'CENTRAL SANT ANTONI APARTMENT',
 'Modern 3 bedrooms, family stay!',
 'Lovely apartment. Renovated in 2016.',
 '3 Bedroom with terrace',
 'Amazing 3 bedroom near Pl Catalunya',
 'LUXURY ATTIC WITH PRIVATE TERRACE NEAR CENTRE',
 'Near the beach, pool, 3-bedroom, 2-bathroom, AC',
 'Exquisito apartamento con espacios abiertos y luz',
 'Contemporary Apartment with Private Patio',
 "Our house: Architects' flat.",
 'Bright and Open Apartment near Sant Antoni',
 'Charming and Central Apartment',
 'Amazing 3 bed large APT  2 patios',
 'Batllo Luxury  in prime location',
 'Panoramic Suite Luxury with Jacuzzi',
 'Bright, elegant, 3 bedrooms, Sagrada Familia, AC',
 'Luxury Paseo de Gracia Penthouse',
 'Kick Back on the Terrace of a Classic Home',
 'Incredible for 16 in pl Catalunya!',
 'PASEO DE GRACIA DOMUS SUPERLUXURY',
 'Serviced Minimalist Apartment with Private Balcony',
 'Trendy & Luminous Apartment in the City Center',
 'Luxurious, bright, spacious Plaza Catalunya',
 'Gorgeous appartment by the beach   HUTB 007415',
 'Beautiful balconies and 3 bedrooms in Eixample',
 'Excellent! Centric beautififul apartment *Bcn*',
 'Central 3 bedroom, family stay!',
 'Apartamento Gaudir, con inspiraciones modernistas. Luminoso, céntrico y seguro.',
 'Beautiful apartment in city center',
 'THE SILVER HOUSE: see the sky',
 '3 bedroom flat in Barri Gotic',
 'COZY RAMBLA CATALUÑA HUTB-001410',
 '1416 - THE GREEN BLOOMING APARTMENT',
 '4 Bedrooms 5 bathrooms in eixample',
 'GREAT PENTHOUSE PANORAMIC TERRACE SAGRADA FAMILIA',
 'Sea views / Port vell & COLON',
 'Chic Apartment Gran de Gracia',
 'Penthouse con terraza Plaza España',
 'Great Apartment 300 meters from la Fira MWC !!!',
 'Big terrace apt in Gotic Quarter',
 'Pelayo attic Deluxe H4 - BCN54',
 'Luxury 3 bedroom 2 bathroom',
 "CHARMING DUPLEX IN BARCELONA'S HEART",
 'Huge and Classy Barcelona centre',
 'Magnificent Penthouse with Sun Terrace and View',
 "King's Place City Center",
 'Perfect apartment just at Downtown',
 'BCN Luxury',
 'GranVia Terrace',
 'Central Luxury Penthouse 6 guests (3 Bedrooms) AG',
 'Spacious 3 bedroom in city center',
 'Executive Cataluña 4,   5 bedrooms',
 'Luxurious 4 bedroom in Eixample',
 'Centric Design Apartment',
 'Spacious and central apartment',
 'DUPLEX DE LUXE AMB JARDI I GARATGE',
 'Relax in the Garden Room at a Bright City Retreat',
 'Ramblas & Paseo de Gracia WITH LOCKER',
 'yök Casa C, your own little Hotel',
 'Penthouse Plaza Catalunya 8 /best location in BCN',
 'Stylish Spacious Serviced Apartment near El Born',
 'Luxury penthouse, private terrace, pool, gym, AC',
 'Beautiful apartment in front of Sagrada Familia',
 'Eliseos Luxury Apartment HUTB-001281',
 "Allotja't en un elegant i lluminós pis modernista al costat de Passeig de Gràcia",
 'VIDRE HOME PLAZA REAL on LAS RAMBLAS',
 'Fantastic design apartment close to Las Ramblas',
 'Plaza Catalunya Love 2',
 'SUPERIOR 4 BEDROOM APARTMENT',
 'Spacious and bright apt for 8 near Sagrada Familia',
 'TYCHE Apartment',
 'Amazing penthouse with terrace at Rambla Catalunya',
 'Happy People Sagrada Familia Gaudi Luxury 8 people Apartment next to the monument',
 'BEACHFRONT SEAVIEWS APARTMENT',
 'Glamorous 5-bedroom apartment by Paseo de Gracia',
 'Villa Olimpica Beach',
 'AWESOME SEA VIEWS IN BARCELONA',
 'SEALONA CENTER II',